[Unit]
Description=Audio Amp Control

[Service]
Type=simple
User=root
WorkingDirectory=/run
ExecStart=/usr/bin/python /home/matthew/audioamp.py
Restart=always

[Install]
WantedBy=multi-user.target

